.btn {
  background-color: rgb(8, 98, 231);
  color: #fefefe;
  padding: 16px 32px;
  border-radius: 14px;
  font-weight: 600;
}

.btn.active {
  background-color: #fefefe;
  color: rgb(8, 98, 231);
  padding: 16px 32px;
  border-radius: 14px;
  font-weight: 600;
}
